*{
    padding: 0;
    margin: 0;
}
body{
    background-image: url('../images/1.jpg');
    background-size: cover;
    background-position-y: -30px;
}
#wrapper{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
#form-login{
    max-width: 400px;
    background: rgba(0,0,0,0.8);
    flex-grow: 1;
    padding: 30px 30px 40px;
    box-shadow:0px 0px 17px 2px rgba(255,255,255,0.8);
}
.form-heading{
    font-size: 25px;
    color: #f5f5f5;
    text-align: center;
    margin-bottom: 30px;
}
.form-group{
    border-bottom: 1px solid #fff;
    margin-top: 15px;
    margin-bottom: 20px;
    display: flex;
}
.form-group i{
    color: #fff;
    font-size: 14px;
    padding-bottom: 3px;
    padding-right: 10px;
}
.form-input{
    background: transparent;
    border: 0;
    outline: 0;
    color: #f5f5f5;
    flex-grow: 1;
}
.form-input::placeholder{
    color: #f5f5f5;
}
#eye i{
    padding-right: 0;
}
.form-submit{
    background: transparent;
    border: 1px solid #f5f5f5;
    color: #fff;
    width: 100%;
    text-transform: uppercase;
    padding: 6px 2px;
    transition: 0.25s ease-in-out;
    margin-top: 30px;
}
.form-submit:hover{
    border: 1px solid #54a1ff;
}
.title-link{
    display: flex;
    text-align: left;
    margin-top: 10px;
}
.title-link a{
    font-size: 12px;
    color: #f5f5f5;
    text-decoration: none;
   
}
.title-link p{
    font-size: 12px;
    color: #f5f5f5;
    text-decoration: none;
    margin: 0px 8px;
}
.title-link a:hover{
    color: #54a1ff;
}
/* list button */
.list-button{
    margin-top: 10px;
    text-align: center;
}
.list-button a{
    text-decoration: none;
    margin: 0px 20px;
}
.list-button a.button.google i{
    background: #fff;
}
.list-button a.button.facebook i{
    background: #fff;
}
.list-button a.button.twitter i{
    background: #fff;
}
.list-button a.button.instagram i{
    background: #fff;
}
.fa-google {
    background: conic-gradient(from -45deg, #ea4335 110deg, #4285f4 90deg 180deg, #34a853 180deg 270deg, #fbbc05 270deg) 73% 55%/150% 150% no-repeat;
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    -webkit-text-fill-color: transparent;
  }
